.wrapper {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #666;
  color: red;
  padding: 1px 2px;
  margin: 10px 0px;
  width: 356px;
  height: 100%;
}

.wrapper li {
  display: block;
}
