.pointer {
  position: absolute;
  top: 130px;
  left: 650px;
}

.grandma {
  position: absolute;
  top: 180px;
  left: 640px;
}

.factory {
  position: absolute;
  top: 230px;
  left: 650px;
}

.mine {
  position: absolute;
  top: 280px;
  left: 690px;
}

.shipment {
  position: absolute;
  top: 130px;
  right: 580px;
}

.alchemylab {
  position: absolute;
  top: 180px;
  right: 570px;
}

.portal {
  position: absolute;
  top: 230px;
  right: 580px;
}

.timemachine {
  position: absolute;
  top: 280px;
  right: 600px;
}

.cookie {
  width: 168px;
  cursor: pointer;
  padding: 2px;
}

.cookie:hover {
  filter: brightness(90%);
}

.cookie:active {
  filter: brightness(70%);
  transform: scale(95%);
}

.plus p {
  position: absolute;
  color: white;
  font-size: 22px;
  font-weight: 700;
  top: 110px;
  left: 800px;
}
