.cookie {
  width: 168px;
  cursor: pointer;
  padding: 2px;
}

.cookie:hover {
  filter: brightness(90%);
}

.cookie:active {
  filter: brightness(70%);
  transform: scale(95%);
}

.plus p {
  position: absolute;
  color: white;
  font-size: 22px;
  font-weight: 700;
  top: 110px;
  left: 800px;
}
